@{
    ViewData["Title"] = "No autenticado";
}
<h1>@ViewData["Title"]</h1>
<br />
<p>No cuenta con una sesión activa.</p>
<p><a href="@Url.Action("Index","Home")" class="btn btn-success">Iniciar sesión</a> </p>
