.texto {
    color: #B8C1C2;
}
.titulos {
    color: #0A3A68;
}
.subtitulos {
    color: #3C86CB;
}
.campos {
    color: #0C5FAD;
}
.tarjetaprincipal {
    background: #B7D3D6;
}
.titulostable {
    color: #2835B7;
}
.textodocumentos{
    color:darkblue;
}