<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Bootstrap Admin App">
    <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
    <title>@ViewData["Title"] - Sistema Informático de Seguridad y Salud en el Trabajo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <environment names="Development,Staging,Production">
        <!-- =============== Este estilo se genera a partir del bundleconfig.json ===============-->
        <link rel="stylesheet" href="~/css/plantilla.bundle.css" />
    </environment>
    <!-- Place styles for plugins -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/select2.css" /> @* Si ya está en el bundle.css, ¿debe estar aquí?*@
</head>
<body>
    @*EN la plantilla, esta sección "<environment></environment>" esta después, ¿tiene un por qué?*@
    <environment names="Development,Staging,Production">
        <!-- =============== Este estilo se genera a partir del bundleconfig.json ===============-->
        <script src="~/js/Popper.js"></script>
        <script src="~/js/plantilla.bundle.js"></script>
        @RenderSection("Scripts", required: false)
        <script src="~/js/viewer.part.bundle.js"></script>
        <!-- =============== APP SCRIPTS ===============-->
        <script src="~/js/app.js"></script>
        <script src="~/js/jquery.blockUI.js"></script>
        @*<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"></script>SI NO HAY INTERNET FALLA POR NO CARGAR EL JS*@
        <script src="~/js/loadingoverlay.min.js"></script>
        <script src="~/js/select2.js"></script>
        <script>
            $.LoadingOverlaySetup({
                background: "rgba(0, 0, 0, 0.5)",
                image: "",
                fontawesome: "fa fa-cog fa-spin",
                fontawesomeColor: "#ffffff"
            });
        </script>
    </environment>
        <section class="section-container">           
            <!-- Page content-->
                @RenderBody()
        </section>

    @*Es para hacer un llamado a un mensaje de por favor espere...*@
    @await Html.PartialAsync("_modalLoading")

    @if (IsSectionDefined("BodyArea")) {
        @RenderSection("BodyArea", required: false)
    }
</body>
</html>

