<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>@ViewData["Title"] - Sistema Informático de Seguridad y Salud en el Trabajo </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Place styles for plugins -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

<environment names="Development,Staging,Production">
    <!-- =============== Este estilo se genera a partir del bundleconfig.json ===============-->
    <link rel="stylesheet" href="~/css/plantilla.bundle.css" />
</environment>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap" rel="stylesheet">
    
</head>

<body>
   <div class="wrapper divisionColores" >
       <section>@RenderBody()</section>
           
       <footer class="footerVerde">
           <div class="p-lg text-center footerDiv">
               <div class="row">
                   <div class="col-md-6">
                       <div class="p-3 text-center">
                           <span class="mr-2">&copy;</span>
                           <span>Comisión Federal de Electricidad 2020. Todos los derechos reservados. </span>
                          
                           <br />
                           <span>Términos y condiciones.</span>
                       </div>
                   </div>
                   <div class="col-md-6">
                       <div class="p-3 text-center">
                           <span class="mr-2">&copy;</span>
                           <span>CFE</span>
                           <br />
                           <span>Contacto</span> | <span>Ayuda</span> |  <span>Acerca de</span>
                       </div>
                   </div>
               </div>
               
           </div>
       </footer>
   </div>
   

   <environment names="Development,Staging,Production">

       <!-- =============== Este estilo se genera a partir del bundleconfig.json ===============-->
       <script src="~/js/plantilla.bundle.js"></script>
       @RenderSection("Scripts", required: false)
       <script src="~/js/viewer.part.bundle.js"></script>

   </environment>

    
</body>

</html>

